.badge {
  width: 50px;
  display: inline-flex;
  padding: 5px 12px;
  border-radius: 15px;
  color: white;
  font-size: 12px;
  font-weight: 600;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid transparent;
  text-transform: capitalize;
}

.statusDone {
  background-color: #22c55e;
  border-color: #32c600;
}

.statusNew {
  background-color: #8b5cf6;
  border-color: #7c3aed;
}

.statusInProgress {
  background-color: #f97316;
  border-color: #ea580c;
}
