:root {
  text-align: center;
  --background: 0 0% 100%;     /* light background */
  --foreground: 240 10% 3.9%;  /* light text */
}

html {
  box-sizing: border-box;
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 24px;
  color: hsl(var(--foreground));
  background-color: hsl(var(--background));
}

.dark {
  --background: 240 10% 3.9%;
  --foreground: 0 0% 98%;
}
